{% extends template.self %}

{# FOOTER #}
{% block page %}
    {{ super() }}
    <footer>
        <div>
            <p>#FpInfor #SmxMp04 #AsixMp01 #SistemesOperatius #LDAP #Samba #WindowsServer</p>
        </div>
        <div>
            <a href='https://creativecommons.org/licenses/by-nc-sa/3.0/es/'>
                <img src='https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.eu.png' width=120px'/>
            </a>
            <p class='author'>Autor: Sergi Coll<p>
        </div>
    </footer>
{% endblock %}