body{
    font-family: sans-serif;
    color: #000;
    font-size: 11px;
}

h1{
    //font-size: 14px !important;
}

img{
    margin: 0 auto;
    display: block;
}

/* FOOTER */
.pdf-footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color:#aaa;
}

.pdf-footer .footer-pages-count {
    float: right;
}


.pdf-header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #aaa;
}