/* CSS for website */
img
{
    margin: 0 auto;
    display: block;
}

/* HEADERS */

.markdown-section h2
{
    border-bottom: 1px solid #0000002a;
}

/* blockquote */
.markdown-section blockquote
{
    background: #d6e5ec;
    color: #333; 
    padding: 8px 15px;
    border-left: 5px solid #78a8d8;
    font-size: 1.7rem;
    border-radius: 3px;

}

.markdown-section blockquote p:last-child
{
    margin-bottom: 0px;
}


/* code */
.markdown-section code, .markdown-section pre {
    background-color: #ddd;
    padding: 7px;
    border-radius: 3px;
}


/* SUMMARY */ 

/* Ampliem l'amplada */
.book-summary{
   left:-400px;
   width: 400px;
}

@media (min-width: 600px){
   .book.with-summary .book-body {
      left: 400px;
  }
}

.book .book-summary ul.summary li a, .book-summary ul.summary li span {
    white-space: normal;        //perquè salti de línia si és molt llarg
}

/* titols principals */
.book .book-summary ul.summary li.header {
    font-weight:bold;
    color:black;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active a {
  background-color: #c4cdd1;
}

/* ----------------------------------*/


/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    
    border-top: 1px solid #0000002a;
    padding-top: 1em;
    font-size: 0.9em !important;
    color: #333;   
}

footer .author
{
    font-family: arial;
    font-weight: bold;
}




