/* CSS for website */

img
{
    margin: 0 auto;
    display: block;
}


/* blockquote */
.markdown-section blockquote
{
    background: #d6e5ec;
    color: #555; 
    padding: 0px 15px;
    border-left: 5px solid #78a8d8;
    font-size: 1.7rem;
}


/* code */
.markdown-section code, .markdown-section pre {
    background-color: #ddd;
    padding: 7px;
    border-radius: 3px;
}


/* summary */ 
.book-summary ul.summary li a, .book-summary ul.summary li span {
    white-space: normal;        //perquè salti de línia si és molt llarg
}



