/* CSS for website */

img
{
    margin: 0 auto;
    display: block;
}


/* blockquote */
.markdown-section blockquote
{
    background: #d6e5ec;
    color: #555; 
    padding: 0px 15px;
    border-left: 5px solid #78a8d8;
}


/* code */
.markdown-section code {
    padding: .2em;
    margin: 0;
    font-size: .85em;
    background-color: #202020; //#f7f7f7;
}

.markdown-section code, .markdown-section pre {
    font-family: Monaco, Consolas,"Liberation Mono",Menlo,Courier,monospace;  
}



